.blog-container {
    height: 98%;
    width: 98%;
    background: lightyellow;
    border: .2rem solid grey;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem .2rem rgb(14, 0, 0);
    overflow: hidden;
}

/* UserCard */
.user-card {
    height: 25%;
    width: 25%;
    background: rgb(223, 223, 121);
    border: .2rem solid grey;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem .2rem rgb(14, 0, 0);
    overflow: hidden;
}

.user-card {
    display: flex;
}

.user-card-content {}

.user-card-content-header {}

.user-card-content-description {}

.user-card-bottom-button {}

.user-card-bottom-button-add-icon {}

.blog-post-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.blog-post-comment-avatar-div {
    border-radius: 8px;
    /* Oval Shape*/
    /* border-radius: 50%; */
    align-self: center;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
}

.blog-post-comment-avatar-div:hover {
    border-radius: 16px;
}

.blog-post-comment-avatar-div-image {
    height: 5rem;
    width: 5rem;
    /* object-fit: scale-down; */
    border-radius: 50%;
    align-self: center;
}


.blog-post-comment-content {
    align-self: center;
}

.blog-post-comment-content-author {
    align-self: center;
}

.blog-post-comment-content-metadata {
    align-self: center;
}

.blog-post-comment-content-date {}

.blog-post-comment-content-text {}