/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} */

.links {
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    padding: 2rem;
    border-radius: .2rem;
    background: rgb(17, 17, 18);

    border: .3rem solid #e3ebda;
    border-radius: .5rem;
    box-shadow: -5px 10px 10px 10px rgb(156, 52, 52);

    align-items: center;
    justify-content: center;
}